/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
	display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
   /* force a vertical scrollbar to prevent a jumpy page */

html {
	box-sizing: border-box;
	overflow-y: scroll;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* remove active effects */
*:focus {
    outline: none;
}

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
	max-width: 100%;
}

ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	font-size: inherit;
	font: 100%;
}

th {
	font-weight: bold;
	vertical-align: bottom;
}

td {
	font-weight: normal;
	vertical-align: top;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

pre {
	white-space: pre;
	/* CSS2 */
	white-space: pre-wrap;
	/* CSS 2.1 */
	white-space: pre-line;
	/* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word;
	/* IE */
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}

.ie6 input {
	vertical-align: text-bottom;
}

select,
input,
textarea {
	font: 99% sans-serif;
}

small {
	font-size: 85%;
}

strong {
	font-weight: bold;
}

td,
td img {
	vertical-align: top;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
	font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type='button'],
input[type='submit'],
input[type='file'],
button {
	cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
	margin: 0;
}

/* make buttons play nice in IE */
button,
input[type='button'] {
	width: auto;
	overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* -------------------------------------------- */

/* Fonts */
/* Lexend */
@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Bold.eot');
    src: url('../fonts/Lexend-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Bold.woff') format('woff'),
        url('../fonts/Lexend-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Regular.eot');
    src: url('../fonts/Lexend-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Regular.woff') format('woff'),
        url('../fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Light.eot');
    src: url('../fonts/Lexend-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lexend-Light.woff') format('woff'),
        url('../fonts/Lexend-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Queens */
@font-face {
    font-family: 'Queens';
    src: url('../fonts/QueensCondensedTrial-Medium.eot');
    src: url('../fonts/QueensCondensedTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/QueensCondensedTrial-Medium.woff') format('woff'),
        url('../fonts/QueensCondensedTrial-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Variables */
:root {
    /* colours */
    --primary-text: #15141A;
    --secondary-text: #5B5B66;
    --accent-1: #ff5c35;
    --accent-hover: #e04826;
    --accent-dark: #b3361d;
    --bg-orange: #fef4ea;
    --link: #0068b1;
    --teal: #b7ecec;
    --bg-grey: #f6f9fc;
    --white: #ffffff;
    --dark: #192733;

    /* fonts */
    --primary-font: 'Lexend', Arial, Helvetica, sans-serif;
    --display-font: 'Queens', "Times New Roman", Times, serif;
}

/* Header */
/* Mobile Header */
.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.mobile-header .mobile-logo img{
    width: 2rem;
}

.mobile-header .menu-button {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-header .menu-button span,
.mobile-header .menu-button span::before,
.mobile-header .menu-button span::after {
    content: '';
    display: block;
    width: 2rem;
    height: 3px;
    border-radius: 5px;
    background: var(--primary-text);
}

.mobile-header .menu-button span::before {
    position: absolute;
    width: 80%;
    left: 10%;
    top: .5rem;
}

.mobile-header .menu-button span::after {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: .5rem;
}

/* Hide mobile menu */
@media(min-width:900px) {
    .mobile-header {
        display: none;
    }
}

main {
    min-height: 200vh;
}