:root {
    /* colours */
    --primary-text: #213343;
    --secondary-text: #5B5B66;
    --third-text: #2e475d;
    --accent-1: #ff5c35;
    --accent-hover: #e04826;
    --alt-hover: #ffebe6;
    --accent-dark: #b3361d;
    --bg-orange: #fef4ea;
    --link: #0068b1;
    --footer-link: #b6c7d6;
    --footer-link-hover: #88bde3;
    --teal: #b7ecec;
    --bg-grey: #f6f9fc;
    --border-grey: #dbe4ed;
    --dot-grey: #99afc4;
    --white: #ffffff;
    --dark: #192733;

    /* fonts */
    --primary-font: 'Lexend', Arial, Helvetica, sans-serif;
    --display-font: 'Queens', "Times New Roman", Times, serif;
}