/* Basic Dropdown styling */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.dropdown-wrap {
    padding: 1rem;
    background: var(--white);
    z-index: 1;
    border: 1px solid var(--border-grey);
}
.dropdown-wrap ul {
    flex-direction: column;
}
.dropdown-content li {
    display: block;
    width: max-content;
}

/* Hover to enable dropdown */
.dropdown:hover .dropdown-content{
    display: block;
}

/* Second Nav style dropdown */
.second-nav .dropdown-content {
    left: auto;
    right: 0;
    padding-top: 1rem;
}
.second-nav .dropdown-content li {
    line-height: 2;
    font-size: .875rem;
}

/* Resources Nav Dropdown */
.resources .dropdown-content {
    left: -150%;
}
/* Titles */
.resources .dropdown-title {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.resources .dropdown-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: .25rem;
    background: var(--bg-grey);
}

.resources .dropdown-title h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}
/* Lists */
.primary-nav .resources ul {
    margin-bottom: 1rem;
}
.primary-nav .resources ul li a {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1;
    padding: .5rem;
    margin-left: 3rem;
}

/* Column Layout */
.resources .dropdown-wrap {
    padding: 2rem;
    display: flex;
    gap: 2rem;
}