footer {
    background: var(--dark);
    color: var(--footer-link);
    padding: 2rem;
    font-size: .75rem;
}

footer h3 {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
}

footer p {
    font-weight: 600;
}

footer a, footer a:link {
    color: var(--footer-link);
}

footer a:hover, footer a:link:hover {
    color: var(--footer-link-hover);
} 

footer li {
    line-height: 3;
}

/* Footer top half */
.footer-top {
    display: flex;
}
.footer-top .left {
    border-right: 1px solid var(--footer-link);
    flex-basis: 40%;
    padding-right: 2rem;
}

.footer-top .left .popular {
    column-count: 2;
}

.footer-top .right {
    flex-basis: 60%;
    padding-left: 3rem;
    display: flex;
}
.footer-top .right .column {
    flex-basis: 33.333%;
}

.footer-top .right .split {
    margin-bottom: 4rem;
}
.footer-top .right .split:last-of-type {
    margin-bottom: 0;
}

/* Footer bottom half */
.footer-bot {
    text-align: center;
}
.footer-bot img{
    max-width: 100px;
}

/* Social Media Nav */
.social-wrap {
    position: relative;
}
.social-wrap::before {
    display: none;
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 26%;
    height: 1px;
    border-bottom: 1px solid var(--footer-link);
}
.social-wrap::after {
    display: none;
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 25%;
    height: 1px;
    border-bottom: 1px solid var(--footer-link);
}
.social-wrap ul{
    display: flex;
    width: 50%;
    min-width: 250px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
}


.social-wrap ul li {
    margin: .5rem;
    width: 32px;
    height: 32px;
}

/* Legal nav */
.legal-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.legal-nav li{
    position: relative;
    text-align: center;
    line-height: 1.5;
}
.legal-nav li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 33%;
    height: 33%;
    border-right: 1px solid var(--footer-link);
}
.legal-nav li:last-of-type:after {
    border-right: 0;
}
.legal-nav a, .legal-nav a:link{
    color: var(--white);
    text-align: center;
    display: block;
    text-decoration: underline;
    font-size: .875rem;
    padding: .5rem 1rem;
}

/* Desktop view */
@media(min-width:900px) {
    footer {
        padding: 4rem 2rem;
    }

    .social-wrap::before, .social-wrap::after {
        display: block;
    }
}