.desktop-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: var(--white);
    z-index: 99;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: ease .3s;
}

/* Top Nav */
.desktop-header .top-nav {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.desktop-header .top-nav .settings-nav, .desktop-header .top-nav .second-nav {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: .8rem;
}
.top-nav .settings-nav a {
    display: flex;
    align-items: center;
    margin-right: .5rem;
}

.top-nav .settings-nav svg {
    width: 24px;
    height: 24px;
    margin-right: .5rem;
}
.desktop-header .top-nav a{
    padding-right: 1rem;
    color: var(--third-text);
}
.desktop-header .top-nav a:hover {
    color: var(--link);
}

/* Main Nav */
.desktop-header .main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-nav .logo img {
    width: 100px;
    margin-right: 3rem;
}

.main-nav .nav-wrap {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.main-nav .primary-nav ul li a{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    padding: 1rem;
    color: var(--third-text);
}
.main-nav .primary-nav ul li a:hover {
    color: var(--link);
}

.main-nav .primary-nav ul, .main-nav .button-nav ul{
    display: flex;
}

.main-nav .button-nav .button{
    font-size: .875rem;
    padding: .75rem 1rem;
    margin-left: 1rem;
}

main {
    min-height: 200vh;
    padding-top: 60px;
}

/* Show desktop header */
@media(min-width:900px) {
    .desktop-header {
        display: block;
    }

    main {
        padding-top: 130px;
    }
}

/* Hide Top part of header on scroll */
.scrolled {
    transform: translateY(-50px);
    transition: ease .3s;
}