body {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 300;
    color: var(--primary-text);
}

/* maximum content width */
.max-wrap {
    margin: 0 auto;
    max-width: 1080px;
}

section {
    padding: 1rem;
}

@media(min-width:900px) {
    section {
        padding: 5rem 1rem;
    }
}