html, body {
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--primary-text);
}

p {
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 1rem;
}

/* maximum content width */
.max-wrap {
    margin: 0 auto;
    max-width: 1080px;
}

section {
    padding: 1rem;
}

section.centered {
    text-align: center;
}

@media(min-width:900px) {
    section {
        padding: 5rem 1rem;
    }
    .two-column {
        display: flex;
    }
}