section.hero {
    background: var(--bg-orange);
    display: flex;
    align-items: center;
    padding: 6rem 1rem;
}

.hero h1 {
    font-family: var(--display-font);
}

.hero .content {
    margin-bottom: 1rem;
}

.hero .imagery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

@media(min-width:900px) {
    .hero .imagery {
        margin-right: -5rem;
    }
}