section.service-cards {
    background: var(--bg-orange);
    padding-top: 0;
}

/* Card grid */
.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
}

@media(min-width:600px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:900px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Cards */
.product-card {
    background: var(--white);
    padding: 3rem 2rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: ease .3s;
}

.product-card:hover {
    background: var(--bg-grey);
    transform: scale(1.02);
    transition: ease .3s;
}

.product-card .title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.product-card .title img {
    max-width: 30px;
}

.product-card h3 {
    margin: 0 0 0 1rem;
}

.product-card p {
    font-size: .875rem;
    flex-grow: 1;
}

.product-card .button {
    text-align: center;